.columns {
  border: 2px solid black;
  height: 20rem;
  box-shadow: 4px 4px grey;
  display: flex;
  justify-content: center;
  padding-top: 45px;
  margin: 10px!important;
}

button {
  margin: 30px!important;
}

nav {
  border: 2px solid grey;
  border-radius: 2px;
}

hr {
  margin: 8px!important;
}

button {
  margin: 12px!important;
}