.columns {
  border: 1px solid black;
  border-radius: 6px;
  height: 20rem;
  box-shadow: 5px 6px rgb(192, 191, 191);
  padding-top: 40px;
  margin: 10px!important;
}

button {
  margin: 30px!important;
  padding: 2px!important;
}

nav {
  border: 2px solid grey;
  border-radius: 2px;
}

hr {
  margin: 8px!important;
}

button {
  margin: 12px!important;
  
}

input {
  margin-left: 14px!important;
}

p {
  padding-left: 14px;
}

